doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    title Homepage
    style.
        body {font-family: -apple-system}

body
    h1 Welcome to taxi booking app

    block content

    script (src="https://unpkg.com/axios/dist/axios.min.js")